# Don't track content of these folders
venv/
__pycache__/
.eggs/
dist/
.tox/
htmlcov/
.mypy_cache/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc


*.egg-info
*.dot
*.svg
.coverage
.pypirc
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
