---

dependency_rules:
  __init__: []
  checker:
  - dep_check.models
  dependency_finder:
  - dep_check.models
  infra.__init__: []
  infra.file_system:
  - dep_check.models
  infra.io:
  - dep_check.use_cases.check
  - yaml
  - dep_check.use_cases.build
  - dep_check.use_cases.interfaces
  infra.std_lib_filter:
  - dep_check.models
  - dep_check.use_cases.interfaces
  main:
  - dep_check.use_cases.app_configuration
  - dep_check.infra.file_system
  - dep_check.use_cases.check
  - dep_check.infra.std_lib_filter
  - dep_check.use_cases.build
  - dep_check.infra.io
  - dep_check.use_cases.interfaces
  models: []
  use_cases.__init__: []
  use_cases.app_configuration:
  - use_cases.interfaces
  use_cases.build:
  - dep_check.dependency_finder
  - dep_check.models
  - use_cases.interfaces
  - use_cases.app_configuration
  use_cases.check:
  - dep_check.dependency_finder
  - dep_check.models
  - dep_check.checker
  - use_cases.app_configuration
  - use_cases.interfaces
  use_cases.interfaces:
  - dep_check.models
local_init: false
