---

dependency_rules:
  '*':
    - dep_check.models
    - dep_check.dependency_finder
    - dep_check.checker

  dep_check.infra.io:
    - dep_check.use_cases%
    - jinja2
    - yaml

  dep_check.infra.std_lib_filter:
    - dep_check.use_cases.interfaces

  dep_check.infra.lib*:
    - setuptools*

  dep_check.infra.go_parser:
    - dep_check.infra.lib.goparse

  dep_check.use_cases%:
    - dep_check.use_cases.app_configuration
    - dep_check.use_cases.interfaces

  dep_check.main:
    - '*'

local_init: false
