include LICENSE
include README.md
include dep_check/infra/lib/find_dependencies.go
include dep_check/infra/lib/goparse.c
include dep_check/infra/lib/goparse.h
include dep_check/infra/lib/setup.py

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.md conf.py Makefile make.bat *.jpg *.png *.gif
