---
version: 2.1

########################################################################################
# JOBS
#
# A sequence of steps to be used in workflows, i.e. checking the source code quality
# or deploying the application to a given environment. Jobs are independant. They will
# not run unless used in a workflow.
########################################################################################

jobs:

  # Check the source code quality with various static analysis tools
  static_analysis:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install CircleCI-specific dependencies
          command: |
            sudo apt update
            sudo apt install -y libenchant1c2a
      - run:
          name: Install the project dependencies
          command: make init
      - run:
          name: Run all the linters
          command: make lint
      - run:
          name: Check dependencies
          command: |
            source venv/bin/activate && \
            python3.7 dep_check/main.py -c dependency_config.yaml dep_check

  # Run the unit tests with coverage check, and make sure the integration tests have run
  tests:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install CircleCI-specific dependencies
          command: |
            sudo apt update
            sudo apt install -y libenchant1c2a graphviz
      - run:
          name: Install the project dependencies
          command: make init
      - run:
          name: Run the unit tests
          command: |
            source venv/bin/activate && \
            make test
      - store_test_results:
          path: test-results

  deploy:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Initialize .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = lumapps" >> ~/.pypirc
            echo -e "password = $pypi_password" >> ~/.pypirc
      - run:
          name: Install CircleCI-specific dependencies
          command: |
            sudo apt update
            sudo apt install -y libenchant1c2a
      - run:
          name: Install the project dependencies
          command: make init
      - run:
          name: Create package
          command: make dist
      - run:
          name: Upload to PyPI
          command: |
            source venv/bin/activate && \
            twine upload dist/*
workflows:
  version: 2.1
  build_and_deploy:
    jobs:
      - static_analysis:
          filters:
            tags:
              only: /.*/
      - tests:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - static_analysis
            - tests
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
